.BUTTON {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-size: 26px;

    margin: 19.5px 0px;

    border: none;
    background-color: black;
    color: white;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: bold;
}

.WHITE {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}