.HOME {
    height: 100vh;
    position: relative;
}

.HOME .HOME_CONTENTS {
    padding: 20px;
}

.HOME .HOME_CONTENTS .HOME_POSTS {
    padding: 10px 5px;
    height: 560px;
    overflow: auto;
    overflow-y: scroll;

    border-top: 1px solid gray;
}

.HOME_POSTS::-webkit-scrollbar {
    display: none;
}

.HOME .HOME_TITLE {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}