html,
body {
  margin: 0px;
  font-family: "Noto Sans";

  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  margin: 0 auto;
  max-width: 390px;
  min-width: 390px;
  width: 100%;
  min-height: 100vh;
  max-height: 844px;
  background-color: white;
}